html {
  font-size: 16px;
  font-family: $bodyTypo;
}

body {
  background-color: $violet;
  color: hsl(0, 0%, 100%);
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.body {
  height: 100vh;
  background: url(../images/bg-mobile.svg) no-repeat top center/contain;
  
  @media screen and (min-width: 1024px) {
    background: url(../images/bg-desktop.svg) no-repeat top center/contain;
  }
}
